@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.5; /* 1.15は英語圏 1.5～2日本語 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/* [type="number"] {
  -moz-appearance: textfield;
} */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}
@media (min-width: 768px) and (max-width: 920px) {
  html {
    font-size: 1.0869565217vw;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

* {
  outline: 1px solid rgb(210, 159, 238);
}

body {
  font-family: "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  position: relative;
}

[id] {
  scroll-margin-top: 8rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.6;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
    line-height: 1.6666666667;
  }
}

p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
}

.l-header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999; /* 他より上に出す */
  width: 100%;
  transform: translatex(-50%);
}

.l-inner {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.l-fixed {
  position: fixed;
  z-index: 999;
}

.c-humburger {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 7.1rem;
  min-width: 7.1rem;
  height: 5rem;
  background-color: #CB0000;
  cursor: pointer;
}
@media (min-width: 768px) {
  .c-humburger {
    display: none;
  }
}

.c-humburger span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3.2rem;
  height: 0.4rem;
  background-color: #ffffff;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.c-humburger span:nth-of-type(1) {
  top: 26%;
}

.c-humburger span:nth-of-type(2) {
  top: 50%;
}

.c-humburger span:nth-of-type(3) {
  top: 74%;
}

#humburger.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#humburger.active span:nth-of-type(2) {
  opacity: 0;
}

#humburger.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/*横並び対応 (Modifier）*/
.c-card--horizontal {
  flex-direction: column;
}
@media (min-width: 768px) {
  .c-card--horizontal {
    flex-direction: row;
  }
}

.c-link {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.6666666667;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: opacity 0.3s;
}

.c-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.c-link:hover {
  opacity: 0.7;
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #CB0000;
  border: 1px solid #CB0000;
  font-weight: 400;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.c-btn:hover {
  color: #CB0000;
  background-color: #FFFFFF;
}

.c-btn--h-contact {
  max-width: 15rem;
  width: 100%;
  height: 4.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
}

.c-btn--f-contact {
  max-width: 33.5rem;
  width: 100%;
  height: 6rem;
  padding-top: 1.35rem;
  padding-bottom: 1.35rem;
  opacity: 0; /*デフォルトで非表示にする*/
}
@media (min-width: 768px) {
  .c-btn--f-contact {
    max-width: 30rem;
    width: 100%;
    height: 6rem;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
  }
}

/*.activeクラス付与で表示する*/
.c-btn--f-contact.active {
  opacity: 1;
  pointer-events: auto;
}

.c-btn--primary {
  max-width: 15rem;
  width: 100%;
  height: 4.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
}
@media (min-width: 768px) {
  .c-btn--primary {
    max-width: 15rem;
    width: 100%;
    height: 4.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-left: 2.9rem;
    padding-right: 2.9rem;
    width: 19.2rem;
    aspect-ratio: 192/51;
  }
}

.c-pagetop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  opacity: 0; /*デフォルトで非表示にする*/
  pointer-events: none;
}

.c-pagetop::before {
  content: "";
  display: block;
  width: 2.315rem;
  height: 1.57rem;
  background-image: url("../images/arrow-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*.activeクラス付与で表示する*/
.c-pagetop.active {
  opacity: 1;
  pointer-events: auto;
}

.c-pagetop.active:hover {
  opacity: 0.5;
}

.c-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

/* 可視範囲に入ったら表示 */
.c-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.5s, padding 0.5s;
}
@media (min-width: 768px) {
  .header {
    height: 8rem;
  }
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  height: 100%;
}

.header__logo a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 0.989rem;
  padding-bottom: 0.882rem;
  transition: opacity 0.3s ease;
}
@media (min-width: 768px) {
  .header__logo a {
    padding-top: 1.474rem;
    padding-bottom: 1.4rem;
  }
}

.header__logo-img {
  width: 20.8rem;
  aspect-ratio: 208/31;
}
@media (min-width: 768px) {
  .header__logo-img {
    width: 19.2rem;
    aspect-ratio: 192/51;
  }
}

/*--PC用メニュー--*/
.header__nav {
  height: 100%;
}

.header__nav .header__menu {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 3.3rem;
}

.header__menu .header__menu_contact {
  padding: 0.6rem 3rem;
  font-size: 1.5rem;
  line-height: 2.2;
  color: #ffffff;
  background-color: #CB0000;
}

.header__menu li {
  width: auto;
  height: 100%;
}

.header__menu li:last-child {
  width: auto;
  height: auto;
}

.header__menu a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 0.5rem;
  font-size: 1.7rem;
  line-height: 1.9411764706;
  transition: opacity 0.3s ease;
}

.header__menu .c-btn--h-contact {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2;
  transition: background-color 0.5s ease;
}

/*--sp用メニュー--*/
.header__drawer {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 80%;
  z-index: 999;
  max-width: 30rem;
  height: 17.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  background-color: #CB0000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.header__drawer.is-open {
  transform: translateX(0);
}

.header__drawer .header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__drawer .header__menu a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.25rem 0 1.25rem 2rem;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  transition: background-color 0.3s ease;
}

/*-- hover --*/
.header__logo a:hover {
  opacity: 0.5;
}

.header__menu a:hover {
  opacity: 0.5;
}

.header__drawer .header__menu a:hover {
  background-color: #000000;
}

.fv {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900; /* ヘッダーより低く */
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .fv {
    margin-top: 8rem;
  }
}

.fv::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.502);
  pointer-events: none;
}

.fv__catch {
  position: relative;
  z-index: 2;
}

.fv__catch {
  position: absolute;
  width: 100%;
  top: 51.5%;
  left: 50%;
  font-size: 3rem;
  line-height: 1.6666666667;
  text-align: center;
  color: #ffffff;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .fv__catch {
    top: 52%;
    left: 50%;
    font-size: 4rem;
    line-height: 1.5;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .fv__catch {
    font-size: 3rem;
  }
}

.vision {
  padding-top: 4.6rem;
  padding-bottom: 3.4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .vision {
    padding-top: 6.6rem;
    padding-bottom: 5.5rem;
  }
}

.vision__message {
  position: relative;
  padding-bottom: 9.6rem;
}
@media (min-width: 768px) {
  .vision__message {
    padding-bottom: 11.6rem;
  }
}

.vision__message::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -6.5rem;
  background: url(../images/semicircle-sp.png) center center/contain no-repeat;
}
@media (min-width: 768px) {
  .vision__message::after {
    bottom: -6rem;
    background: url(../images/semicircle.png) center center/contain no-repeat;
  }
}

.vision__title {
  padding-bottom: 0.7rem;
  font-size: 2.5rem;
  line-height: 1.6;
  color: #CB0000;
}
@media (min-width: 768px) {
  .vision__title {
    font-size: 3.5rem;
    line-height: 1.4285714286;
    padding-bottom: 1.7rem;
  }
}

.vision__text {
  text-align: left;
}
@media (min-width: 768px) {
  .vision__text {
    text-align: center;
  }
}

.vision__step {
  position: relative;
}

.vision-step::before { /*arrow-left*/
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-80%) rotate(-45deg);
  width: 22px;
  height: 3px;
  border-radius: 10px;
  background-color: #CB0000;
}

.vision-step::after { /*arrow-right*/
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-20%) rotate(45deg);
  width: 22px;
  height: 3px;
  border-radius: 10px;
  background-color: #CB0000;
}

.vision-step__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.954rem;
  padding-top: 0.1rem;
  padding-bottom: 1.7rem;
  font-size: 2rem;
  line-height: 2.5;
  letter-spacing: 0.01em;
}

.vision-step__item:last-child {
  padding-bottom: 0;
}

.vision-step__item:before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  left: 50%;
  top: 35%; /*padding分調整*/
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #CB0000;
}

.vision-step__item:last-child:before {
  top: 50%; /*padding分調整*/
}

.vision-step__item:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.5rem;
  background-color: #CB0000;
}

.vision-step__en {
  text-align: right;
  color: #CB0000;
}
@media (min-width: 768px) {
  .vision-step__en {
    font-size: 2.5rem;
    line-height: 2;
  }
}

.vision-step__ja {
  text-align: left;
}
@media (min-width: 768px) {
  .vision-step__ja {
    font-size: 2.3rem;
    line-height: 2.1739130435;
  }
}

.support {
  padding-top: 4.9rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #CB0000;
}
@media (min-width: 768px) {
  .support {
    padding-top: 6.8rem;
    padding-bottom: 6rem;
  }
}

.support__title {
  padding-bottom: 1.4rem;
}
@media (min-width: 768px) {
  .support__title {
    padding-bottom: 3rem;
  }
}

.reason {
  padding-top: 4.9rem;
  padding-bottom: 3.9rem;
  text-align: center;
}
@media (min-width: 768px) {
  .reason {
    padding-top: 6.4rem;
    padding-bottom: 9rem;
  }
}

.reason__lists {
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
  gap: 3.9rem;
}
@media (min-width: 768px) {
  .reason__lists {
    margin-top: 2.8rem;
    gap: 5rem;
  }
}

.reason-list:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .c-card {
    column-gap: 5rem;
  }
}

.reason-list__img {
  width: 100%;
  aspect-ratio: 335/200;
}
@media (min-width: 768px) {
  .reason-list__img {
    width: 39.772%;
    aspect-ratio: 350/247;
  }
}

.reason-list__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reason-list__caption {
  margin-top: 3rem;
  text-align: left;
}
@media (min-width: 768px) {
  .reason-list__caption {
    flex: 1;
    margin-top: 0;
  }
}

.reason-list__subtitle {
  position: relative;
  padding-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .reason-list__subtitle {
    padding-bottom: 1.2rem;
    font-size: 2.2rem;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .reason__list:first-child .reason-list__subtitle {
    padding-top: 0.9rem;
  }
}

.reason-list__subtitle::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  left: 0;
  bottom: 0;
  background-color: #CB0000;
}
@media (min-width: 768px) {
  .reason-list__subtitle::after {
    width: calc(100% + 5rem);
    left: -5rem;
  }
}

.reason-list__text {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: -0.004em;
}
@media (min-width: 768px) {
  .reason-list__text {
    margin-top: 3.7rem;
    font-size: 1.8rem;
    line-height: 1.8333333333;
  }
}

.voice {
  padding-top: 4.6rem;
  padding-bottom: 5rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #CB0000;
}
@media (min-width: 768px) {
  .voice {
    padding-top: 4.6rem;
    padding-bottom: 8rem;
  }
}

/*****************
スライダー
*****************/
.splide__track {
  margin-top: 3.9rem;
}

#voice .splide__slide img {
  width: 100%;
  height: auto;
}

/*CSSでデフォルト矢印の見た目を完全に*/
.splide__arrow {
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  background: none;
}

.splide__arrow svg {
  display: none;
}

/* 左右矢印 */
.splide__arrows {
  position: absolute;
  top: 51%;
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: auto;
  z-index: 2;
}
@media (min-width: 768px) {
  .splide__arrows {
    top: 50%;
    left: 4rem;
    right: 4rem;
  }
}

.custom-arrow {
  width: 3rem;
  height: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.custom-arrow img {
  display: block;
  width: 100%;
  height: auto;
}

/*****************
card
*****************/
.voice-list__img {
  width: 100%;
  aspect-ratio: 335/200;
  overflow: hidden;
}
@media (min-width: 768px) {
  .voice-list__img {
    aspect-ratio: 27/19;
  }
}

.voice-list__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-list__caption {
  margin-top: 2.7rem;
}
@media (min-width: 768px) {
  .voice-list__caption {
    margin-top: 1.7rem;
  }
}

.voice-list__name {
  padding-bottom: 1rem;
  font-size: 2.2rem;
  line-height: 1.5;
}

.voice-list__text {
  text-align: left;
}

.flow {
  padding-top: 4.6rem;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .flow {
    padding-top: 3.1rem;
  }
}

.flow__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3.6rem;
  padding-left: 4.8rem;
}
@media (min-width: 768px) {
  .flow__list {
    grid-template-columns: minmax(15.4rem, auto) 1fr;
    margin-top: 5.3rem;
    padding-left: 12.1rem;
    column-gap: 3.8rem;
    row-gap: 5.8rem;
  }
}

.flow__step-title:first-child {
  margin-top: 0;
}

.flow__step-title,
.flow__step-discriptiom {
  text-align: left;
}

.flow__step-title {
  position: relative;
  margin-top: 3.6rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #CB0000;
}
@media (min-width: 768px) {
  .flow__step-title {
    margin-top: 0;
  }
}

.flow__step-discriptiom {
  margin-left: 0;
  margin-top: 0.9rem;
  font-size: 1.6rem;
  line-height: 1.875;
}
@media (min-width: 768px) {
  .flow__step-discriptiom {
    margin-top: 0;
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

.flow__list::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: calc(100% - 1.2em);
  top: 0.5em;
  left: 1.7rem;
  background-color: #CB0000;
}
@media (min-width: 768px) {
  .flow__list::before {
    height: 100%;
    top: 1em;
    left: 6rem;
  }
}

.flow__list::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 1.4rem;
  left: 0.6rem;
  border-left: 0.3rem #CB0000 solid;
  border-bottom: 0.3rem #CB0000 solid;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .flow__list::after {
    bottom: -0.8em;
    left: 4.85rem;
  }
}

.flow__step-title::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: -3rem;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #CB0000;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .flow__step-title::before {
    top: 0.75em;
    left: -6rem;
  }
}

.faq {
  padding-top: 5.5rem;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .faq {
    padding-top: 10.772rem;
  }
}

.faq__accordion {
  max-width: 100%;
  margin-top: 3.7rem;
  border-top: 0.05rem solid #000000;
  border-bottom: 0.05rem solid #000000;
}
@media (min-width: 768px) {
  .faq__accordion {
    margin-top: 3.6rem;
  }
}

.faq__accordion > * + * {
  border-top: 0.05rem solid #000000;
}

.faq-accordion__question {
  position: relative;
}

.faq-accordion__trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.25rem 4.7rem 1.25rem 5.5rem;
  font-size: 1.6rem;
  line-height: 1.875;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
}
@media (min-width: 768px) {
  .faq-accordion__trigger {
    padding: 1.7rem 6.5rem;
    font-size: 1.7rem;
    line-height: 1.7647058824;
  }
}

.faq-accordion__trigger:before {
  position: absolute;
  content: "Q";
  width: 3.5rem;
  height: 3.5rem;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  background-color: #000000;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .faq-accordion__trigger:before {
    left: 2rem;
  }
}

.faq-accordion__trigger.__open .faq-accordion__icon {
  transform: rotate(-45deg);
}

@media (hover: hover) {
  .faq-accordion__trigger:hover {
    background-color: #dbeafe;
  }
}
.faq-accordion__icon {
  position: absolute;
  top: 0;
  right: 2rem;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border: solid #000;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
}
@media (min-width: 768px) {
  .faq-accordion__icon {
    right: 3rem;
  }
}

.faq-accordion__answer {
  position: relative;
  padding: 1.3rem 4.7rem 1.3rem 5.5rem;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  background-color: rgba(203, 0, 0, 0.1);
  color: #CB0000;
  border-top: 0.05rem solid rgba(203, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .faq-accordion__answer {
    padding: 1.7rem 6.5rem;
  }
}

.faq-accordion__answer.__close {
  display: none;
}

.faq-accordion__answer-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}
@media (min-width: 768px) {
  .faq-accordion__answer-text {
    font-size: 1.7rem;
    line-height: 1.7647058824;
  }
}

.faq-accordion__answer::before {
  position: absolute;
  content: "A";
  width: 3.5rem;
  height: 3.5rem;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  background-color: #CB0000;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .faq-accordion__answer::before {
    left: 2rem;
  }
}

.blog {
  padding-top: 5rem;
  padding-bottom: 19.1rem;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .blog {
    padding-top: 7.05rem;
    padding-bottom: 20.5rem;
  }
}

.blog__lists {
  margin-top: 3.9rem;
}
@media (min-width: 768px) {
  .blog__lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
    column-gap: 5rem;
  }
}

/*****************
card
*****************/
.blog__list {
  margin-top: 4.1rem;
}
@media (min-width: 768px) {
  .blog__list {
    margin-top: 0;
  }
}

.blog__list:first-child {
  margin-top: 0;
}

.blog-list__img {
  position: relative;
  width: 100%;
  aspect-ratio: 335/200;
  overflow: hidden;
}
@media (min-width: 768px) {
  .blog-list__img {
    aspect-ratio: 260/200;
  }
}

.blog-list__img::before {
  position: absolute;
  content: "";
  width: 9rem;
  height: 3rem;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.6666666667;
  color: #FFFFFF;
  background-color: #CB0000;
}
@media (min-width: 768px) {
  .blog-list__img::before {
    width: 8rem;
    height: 3rem;
  }
}

.blog__list:nth-child(1) .blog-list__img::before {
  content: "SNS";
}

.blog__list:nth-child(2) .blog-list__img::before {
  content: "集客方法";
}

.blog__list:nth-child(3) .blog-list__img::before {
  content: "ギター";
}

.blog-list__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-list__caption {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .blog-list__caption {
    margin-top: 2rem;
  }
}

.blog-list__title {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 768px) {
  .blog-list__title {
    font-size: 2rem;
    line-height: 1.25;
  }
}

.blog-list__date {
  margin-top: 0.6rem;
  text-align: right;
  font-size: 1.7rem;
  line-height: 1.7647058824;
}
@media (min-width: 768px) {
  .blog-list__date {
    margin-top: 1.1rem;
  }
}

.blog__link {
  margin-top: 3.7rem;
}
@media (min-width: 768px) {
  .blog__link {
    text-align: right;
  }
}

.blog__link a {
  color: #000000;
}

.fixed-btn--pagetop {
  right: 2rem;
  bottom: 7.9rem;
}
@media (min-width: 768px) {
  .fixed-btn--pagetop {
    right: 11.6rem;
    bottom: 9.1rem;
  }
}

.fixed-btn--pagetop.is-overlap {
  position: absolute;
  bottom: 37.4rem;
  bottom: 38.1rem;
}
@media (min-width: 768px) {
  .fixed-btn--pagetop.is-overlap {
    bottom: 36.5rem;
  }
}

.fixed-btn--f-contact {
  bottom: 0;
  left: 50%;
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.2em;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .fixed-btn--f-contact {
    bottom: 0;
    right: 0;
    left: auto;
    transform: none;
  }
}

.fixed-btn--f-contact.is-overlap {
  position: absolute;
  bottom: 29.5rem;
  bottom: 30.3rem;
}
@media (min-width: 768px) {
  .fixed-btn--f-contact.is-overlap {
    bottom: 27.4rem;
  }
}

.footer {
  padding-top: 4.4rem;
  padding-bottom: 5.067rem;
  color: #FFFFFF;
  background-color: #CB0000;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo-img {
  width: 3.2rem;
  aspect-ratio: 32.03/49.35;
  margin-top: 1.874rem;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.footer__menu a {
  font-size: 1.7rem;
  line-height: 1.9411764706;
  font-weight: 600;
}

.footer__copyright {
  margin-top: 2.891rem;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  text-align: center;
}

.footer__sns {
  margin-top: 1.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__sns {
    margin-top: 0.8rem;
  }
}

.footer__sns-menu {
  column-gap: 1.2rem;
}

.footer__icn {
  width: 2.2rem;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .u-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .u-sp {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */