@use 'foundation/reset';
@use 'foundation/base';


@use "layout/l-header";
@use "layout/l-inner";
@use "layout/l-fixed";

@use "object/component/c-humburger";
@use "object/component/c-card";
@use "object/component/c-link";
@use "object/component/c-btn";
@use "object/component/c-pagetop";
@use "object/component/c-fade-in";


@use "object/project/header";
@use "object/project/fv";
@use "object/project/vision";
@use "object/project/support";
@use "object/project/reason";
@use "object/project/voice";
@use "object/project/flow";
@use "object/project/faq";
@use "object/project/blog";
@use "object/project/fixed-btn";
@use "object/project/footer";


@use "object/utility/u-pc";
@use "object/utility/u-sp";
