@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #CB0000;
  border: 1px solid #CB0000;
  // font-weight: 400;
  transition: background-color 0.3s ease,
  color 0.5s ease;
}
.c-btn:hover {
  color: #CB0000;
  background-color: #FFFFFF;
}

//ヘッダー コンタクトボタン
.c-btn--h-contact{
  max-width: rem(150);
  width: 100%;
  height: rem(45);
  padding-top: rem(7);
  padding-bottom: rem(5);
  padding-left: rem(29);
  padding-right: rem(29);
}


//フッター コンタクトボタン（固定）
.c-btn--f-contact{
  max-width: rem(335);
  width: 100%;
  height: rem(60);
  padding-top: rem(13.5);
  padding-bottom: rem(13.5);
  opacity: 0;/*デフォルトで非表示にする*/
  @include pc {
    max-width: rem(300);
    width: 100%;
    height: rem(60);
    padding-top: rem(13.5);
    padding-bottom: rem(13.5);
  }
}
  /*.activeクラス付与で表示する*/
.c-btn--f-contact.active{
  opacity: 1;
  pointer-events: auto;
  transition: background-color 0.5s ease,
}


//共通ボタン
.c-btn--primary{
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(335);
  height: rem(50);
  font-size: rem(20);
  line-height: calc(26 / 20);
  @include pc {
    width: rem(250);
    height: rem(50);
    font-size: rem(25);
    line-height: calc(33 / 25);
  }
}

