@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-breadcrumb{
  display: flex;
  align-items: center;
  height: auto;
  font-size: rem(16);
  line-height: rem(24);
  white-space: normal;
  overflow: hidden;
  text-overflow: unset;
  background-color: #E8E8E8;

  /* デフォルト：1行制限 */
  max-height: rem(36);
  padding-top: rem(7);
  padding-bottom: rem(5);
  
  @include pc{/* PC用：1行固定 */
      max-height: none;
      height: rem(50);
      padding: 0;
      line-height: rem(50);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    // }
  }
}

// /* デフォルト：1行制限 */
// .c-breadcrumb {
//   max-height: rem(36);
//   padding-top: rem(7);
//   padding-bottom: rem(5);
// }

/* 2行制限 */
.c-breadcrumb--2lines {
  max-height: rem(59);
  padding-top: rem(7);
  padding-bottom: rem(5);
}

/* 3行制限 */
.c-breadcrumb--3lines {
  max-height: rem(77);
  padding-top: rem(8.5);
  padding-bottom: rem(8.5);
  line-height: rem(20);
}

.c-breadcrumb ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
}
.c-breadcrumb li:not(:last-child)::after {
  content: ">";
  padding: 0 rem(19);
  padding: 0 rem(18) 0 rem(22);
  font-weight: 500;
}
.c-breadcrumb li a{
  display: inline-block;
  height: 100%;
  transition: opacity 0.3s ease;
}
.c-breadcrumb li a:hover{
  opacity: 0.5;
}





