@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/*横並び対応 (Modifier）*/
.c-card--horizontal {
  flex-direction: column;
  @include pc {
    flex-direction: row;
  }
}
/*****************
card
*****************/
.c-card__img{
  position: relative;
  width: 100%;
  // aspect-ratio: 335 / 200; //(仮)プロジェクト側で調整
  overflow: hidden;
  // @include pc{
  //   aspect-ratio: 260 / 200; //(仮)プロジェクト側で調整
  // }
}
.c-card__img img {
  display: block;
  width: 100%;
  // height: auto;
  height: 100%;
  object-fit: cover;
}

.c-card__img::before{
  position: absolute;
  content: 'common'; //(仮)プロジェクト側で調整
  // width: rem(90); //(仮)プロジェクト側で調整
  // height:  rem(30); //(仮)プロジェクト側で調整
  // padding-top: rem(2); //(仮)プロジェクト側で調整
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-size: rem(15); //(仮)プロジェクト側で調整
  // line-height: calc(25 / 15); //(仮)プロジェクト側で調整
  color: #FFFFFF;
  background-color: #CB0000;
  // @include pc{
  // width: rem(80); //(仮)プロジェクト側で調整
  // height:  rem(30); //(仮)プロジェクト側で調整
  // }
}
.c-card__img--nolabel::before{//!important使用
  // content: '' !important;
  display: none !important;
}

// .c-card__body{
//   margin-top: rem(30); //(仮)プロジェクト側で調整
//   @include pc{
//     margin-top: rem(20); //(仮)プロジェクト側で調整
//   }
// }
.c-card__title{
  // font-size: rem(20); //(仮)プロジェクト側で調整
  // line-height: calc(30 / 20); //(仮)プロジェクト側で調整
  text-align: left;
  // @include pc{
  //   font-size: rem(20); //(仮)プロジェクト側で調整
  //   line-height: calc(25 / 20); //(仮)プロジェクト側で調整
  // }
}
.c-card__date{
  // margin-top: rem(6); //(仮)プロジェクト側で調整
  // text-align: right;
  // font-size: rem(17); //(仮)プロジェクト側で調整
  // line-height: calc(30 / 17); //(仮)プロジェクト側で調整
  font-weight: 500;
  // @include pc{
  //   margin-top: rem(11); //(仮)プロジェクト側で調整
  // }
}
.c-card__text{
  // font-size: rem(20); //(仮)プロジェクト側で調整
  // line-height: calc(30 / 20); //(仮)プロジェクト側で調整
  text-align: left;
  font-weight: 500;
  // @include pc{
  //   font-size: rem(20); //(仮)プロジェクト側で調整
  //   line-height: calc(25 / 20); //デフォルト
  // }
}
