@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-heading-deco {
  padding: rem(8.5) 0;
  text-align: center;
  font-size: rem(18);
  line-height: calc(33 / 18);
  color: #FFFFFF;
  background-color: #000000;
}


