@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-humburger {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: rem(71);
  min-width: rem(71);
  height: rem(50);
  background-color: #CB0000;
  cursor: pointer;
  @include pc {
    display: none;
  }
}

.c-humburger span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: rem(32);
  height: rem(4);
  background-color: #ffffff;
  border-radius: rem(10);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

// 各バーの初期位置（上下にずらす）
.c-humburger span:nth-of-type(1) { top: 26%;};
.c-humburger span:nth-of-type(2) { top: 50%;};
.c-humburger span:nth-of-type(3) { top: 74%;};

// アクティブ時（×になる）
#humburger.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#humburger.active span:nth-of-type(2) {
  opacity: 0;
}
#humburger.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
