@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-link {
  display: inline-block;
  font-size: rem(18);
  line-height: calc(30 / 18);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: opacity 0.3s;
}

.c-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0.9; // ← アンダーラインのオパシティ
    transition: opacity 0.3s;
  }

.c-link:hover {
    opacity: 0.7;
}



