@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.c-pager__list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: rem(5);
}
.c-pager__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(44);
  height: rem(44);
  // padding: rem(10) rem(20);
  border: rem(1) #000000 solid;
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000000;
  background-color: #FFFFFF;
  @include pc{
    width: rem(50);
    height: rem(50);
  }
}
.c-pager__item.is-current {
  border: rem(1) #000000 solid;
  color: #FFFFFF;
  background-color: #000000;
}
.c-pager__item--ellipsis{
  padding: 0 rem(12);
  border: none;
  pointer-events: none;
}
.c-pager__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: rem(10) rem(20);
  transition: background-color 0.3s, color 0.3s ease;
}
.c-pager__link:hover{
  background-color: #000000;
  color: #FFFFFF;
}




.c-pager__item.is-current a{
  transition: background-color 0.3s, color 0.3s ease;
}
.c-pager__item.is-current a:hover{
  background-color: #FFFFFF;
  color: #000000;
}