@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-status-message {
  font-size: rem(16);
  line-height: calc(30 / 16);
  text-align: left;
  font-weight: 500;
  @include pc{
    font-size: rem(18);
    line-height: calc(30 / 18);
    text-align: center;
  }
}

