@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;




//メイン記事
.article__core .c-card__img::before{
  // content: '';
  // width: rem(80);
  // height:  rem(30);
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
  // @include pc{
  // width: rem(80);
  // height:  rem(30);
  // }
}

/*前後ページリンク*/
.article__nav{
  margin-top: rem(45);
  @include pc{
    margin-top: rem(55);
  }
}

//関連記事
.article__related .c-heading-deco{
  @include pc{
    padding-left: rem(30);
    text-align: left;
  }
}
// .article__related .card-lists{
//   margin-top: rem(19);//微調整
//   row-gap: rem(21);
//   @include pc{
//     margin-top: rem(30);//微調整
//     row-gap: rem(30);
//   }
// }
.article__related .card-lists a{
  transition: opacity 0.3s ease;
}
.article__related .card-lists a:hover{
  opacity: 0.5;
}
.article__related .c-card{
  flex-direction: row;//spで横並び
  column-gap: rem(20);
  @include pc{
    column-gap: rem(30);
  }
}
// .article__related .c-card__img{
//   aspect-ratio: 160 / 110;
//   flex: 0 0 rem(160); // 幅
//   // width: rem(160);
//   overflow: hidden;
//   @include pc{
//     flex: 0 0 rem(200); // 幅
//     aspect-ratio: 200 / 140;
//     // width: rem(200);
//   }
// }
// .article__related .c-card__img img {
//   display: block;
//   width: 100%;
//   // height: auto;
//   height: 100%;
//   // overflow: hidden;
//   object-fit: cover;
// }

// .article__related .c-card__img::before{
//   content: 'ギター';
//   width: rem(80);
//   height:  rem(30);
//   padding-top: rem(2);
//   font-size: rem(15);
//   line-height: calc(25 / 15);
//   @include pc{
//   width: rem(80);
//   height:  rem(30);
//   }
// }
