@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.blog{
  padding-top: rem(50);
  padding-bottom: rem(191);

  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(70.5);
    padding-bottom: rem(205);
  }
}
.blog__lists{
  margin-top: rem(39);
  @include pc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(35);
    column-gap: rem(50);
  }
}

/*****************
card
*****************/
.blog__list{
  margin-top: rem(41);
  @include pc{
  margin-top: 0;
  }

}
.blog__list:first-child{
  margin-top: 0;
}

.blog-list__img{
  position: relative;
  width: 100%;
  aspect-ratio: 335 / 200; //
  overflow: hidden;
  @include pc{
    aspect-ratio: 260 / 200;
  }
}
.blog-list__img::before{
  position: absolute;
  content: '';
  width: rem(90);
  height:  rem(30);
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(15);
  line-height: calc(25 / 15);
  color: #FFFFFF;
  background-color: #CB0000;
  @include pc{
  width: rem(80);
  height:  rem(30);
  }
}
.blog__list:nth-child(1) .blog-list__img::before{
  content: 'SNS';
}
.blog__list:nth-child(2) .blog-list__img::before{
  content: '集客方法';
}
.blog__list:nth-child(3) .blog-list__img::before{
  content: 'ギター';
}
.blog-list__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-list__caption{
  margin-top: rem(30);
  @include pc{
    margin-top: rem(20);
  }
}
.blog-list__title{
  font-size: rem(20);
  line-height: calc(30 / 20);
  text-align: left;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.blog-list__date{
  margin-top: rem(6);
  text-align: right;
  font-size: rem(17);
  line-height: calc(30 / 17);
  @include pc{
    margin-top: rem(11);
  }
}

.blog__link{
  margin-top: rem(37);
  @include pc{
    text-align: right;
  }
}
.blog__link a{
  color: #000000;
}
