
@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.card-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;//11.6
}
.card-lists--horizontal {
  @include pc {
    flex-direction: row;
  }
}
.card-lists--2col {
  @include pc {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
