@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

footer{
  padding-top: rem(32);
  // padding-bottom: rem(50.7);
  color: #FFFFFF;
  @include pc {
    padding-top: rem(45);
    padding-bottom: rem(48.5);
  }
}
.footer__contact{
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #CB0000;
}
.footer__contact .c-btn--f-contact {
  margin: 0 auto;
  font-size: rem(20);
  line-height: calc(33 / 20);
  @include pc {
    margin: 0 0 0 auto;
  }
}
.footer__main{
  padding-top: rem(44);
  padding-bottom: rem(50.67);
  background-color: #CB0000;
}
.footer__nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo-img{
  width: rem(32);
  aspect-ratio: 32.03/49.35;
  margin-top: rem(18.74);
  // text-align: center;
}
.footer__menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: rem(30);
}
.footer__menu a{
  font-size: rem(17);
  line-height: calc(33 / 17);
  font-weight: 600;
  // color: #FFFFFF;
}
.footer__copyright{
  margin-top: rem(28.91);
  font-size: rem(15);
  line-height: calc(20 / 15);
  text-align: center;
}
.footer__sns{
  margin-top: rem(16);
  text-align: center;
}
.footer__sns-menu{
  column-gap: rem(12);
}
.footer__icn{
  width: rem(22);
  height: auto;
  display: block;
}