@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.footer{
  padding-top: rem(44);
  padding-bottom: rem(50.67);
  color: #FFFFFF;
  background-color: #CB0000;
}
.footer__nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: rem(31);//微調整
  // column-gap: rem(30);
}
.footer__menu a{
  font-size: rem(17);
  line-height: calc(33 / 17);
  // font-weight: 600;
  transition: opacity 0.3s;
}
.footer__menu a:hover{
  opacity: 0.7;
}
.footer__logo-img{
  width: rem(32);
  aspect-ratio: 32.03/49.35;
  margin-top: rem(18.74);
}
.footer__logo-img a{
  transition: opacity 0.3s;
}
.footer__logo-img a:hover{
  opacity: 0.7;
}
.footer__copyright{
  margin-top: rem(28.91);
  font-size: rem(15);
  line-height: calc(20 / 15);
  letter-spacing: -0.03em;//微調整
  text-align: center;
  font-weight: 500;
  @include pc{
  letter-spacing: 0;
  }
}
.footer__copyright span{
  display: inline-block;
}
.footer__sns{
  margin-top: rem(16);
  text-align: center;
  @include pc {
    margin-top: rem(8);
  }
}
.footer__sns-menu{
  column-gap: rem(12);
}
.footer__sns-menu a{
  transition: opacity 0.3s;
}
.footer__sns-menu a:hover{
  opacity: 0.7;
}
.footer__sns-icn{
  width: rem(22);
  height: auto;
  display: block;
}