@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.header {
  width: 100%;
  height: rem(50);
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.5s, padding 0.5s;
  @include pc {
    height: rem(80);
  }
}
// .header.is-colored {
//   height: rem(80);
//   background-color: #4D9600;
//   @include sp {
//     height: rem(50);
//   }
// }
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo{
  height:100%;
}
.header__logo a{
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: rem(9.89);
  padding-bottom: rem(8.82);
  transition: opacity 0.3s ease;
  @include pc {
    padding-top: rem(14.74);
    padding-bottom: rem(14);
  }
}
.header__logo-img{
  width: rem(208);
  aspect-ratio: 208 / 31;
  @include pc {
    width: rem(192);
    aspect-ratio: 192 / 51;
  }
}


/*--PC用メニュー--*/
.header__nav{
  height: 100%;
}
.header__nav .header__menu{
  display: flex;
  align-items: center;
  height: 100%;
  gap: rem(33);
  // padding-top: rem(5);//微調整
}
.header__menu .header__menu_contact{
  padding: rem(6) rem(30);
  font-size: rem(15);
  line-height: calc(33 / 15);
  color: #ffffff;
  background-color: #CB0000;
}
.header__menu li{
  width: auto;
  height: 100%;
}
.header__menu li:last-child{//お問い合わせ
  width: auto;
  height: auto;
}
.header__menu a{
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: rem(5);//微調整
  font-size: rem(17);
  line-height: calc(33 / 17);
  transition: opacity 0.3s ease;
}
.header__menu .c-btn--h-contact{//お問い合わせ
  font-size: rem(15);
  font-weight: 500;
  line-height: calc(33 / 15);
  transition: background-color 0.5s ease,
}


/*--sp用メニュー--*/
.header__drawer {
  position: fixed;
  top: rem(50);
  right: 0;
  width: 80%;
  z-index: 999;
  max-width: rem(300);
  height: rem(174);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  background-color: #CB0000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.header__drawer.is-open {
  transform: translateX(0);
}
.header__drawer .header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__drawer .header__menu a{
  display: flex;
  align-items: center;
  height: 100%;
  padding: rem(12.5) 0 rem(12.5) rem(20);;
  font-size: rem(18);
  line-height: calc(33 / 18);
  transition: background-color 0.3s ease;
}


/*-- hover --*/
.header__logo a:hover{
  opacity: 0.5;
}
.header__menu a:hover{
  opacity: 0.5;
}
.header__drawer .header__menu a:hover{
  background-color: #000000;
}
