@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


//【命名ポリシー：『card』における例外的な 『p-』 プレフィックス使用について】
//当プロジェクトでは、クラス名に 『p-』を原則使用しない方針ですが
//ブログ記事・レビュー・声・紹介など、カード型UIが大量に登場し、Modifierも多岐にわたり
//また、『card』という命名 は汎用性が高く、他ライブラリ（例：Bootstrap）やCMSテンプレートと命名衝突する可能性がある為
//『card』 だけは例外的に 『p-card』 と命名し、プロジェクト固有のカードコンポーネントであることを明示します。


.p-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/*横並び対応 (Modifier）*/
.p-card--horizontal {
  flex-direction: column;
  @include pc {
    flex-direction: row;
  }
}
/********
card 共通
********/
.p-card__img{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.p-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-card__img::before{
  position: absolute;
  content: ''; //(仮)プロジェクト側で調整
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #CB0000;
}
.p-card__img--nolabel::before{//!important使用
  display: none !important;
}

// .p-card__body{
// }
.p-card__title{
  text-align: left;
}
.p-card__date{
  font-weight: 500;
}
.p-card__text{
  text-align: left;
  font-weight: 500;
}

/*--------------
hover 
---------------*/
.p-card{
  transition: opacity 0.3s ease;
  // transition: color 0.3s opacity 0.3s;
}
.p-card:hover{
  opacity: 0.7;
  // color: #CB0000;
}

/*--------------
label 
---------------*/
/*共通*/
// .p-card--label .p-card__img::before{
//   height:  rem(30);
//   padding-top: rem(2);
//   font-size: rem(15);
//   line-height: calc(25 / 15);
//   @include pc{
//   height:  rem(30);
//   }
// }
.p-card--label-responsive-s .p-card__img::before{
  width: rem(90);
  height:  rem(30);
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
  @include pc{
  width: rem(80);
  height:  rem(30);
  }
}
.p-card--label-responsive-m .p-card__img::before{
  width: rem(80);
  height:  rem(30);
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
  @include pc{
  width: rem(100);
  height:  rem(30);
  }
}
.p-card--label-responsive-l .p-card__img::before{
  width: rem(90);
  height:  rem(30);
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
  @include pc{
  width: rem(100);
  height:  rem(30);
  }
}
.p-card--label-s .p-card__img::before{
  width: rem(80);
  height:  rem(30);
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
}
.p-card--label-l .p-card__img::before{
  width: rem(100);
  height:  rem(30);
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
}
[data-label="sns"] .p-card__img::before {
  content: 'SNS';
}
[data-label="shukyaku"] .p-card__img::before {
  content: '集客方法';
}
[data-label="guitar"] .p-card__img::before {
  content: 'ギター';
}
[data-label="pops"] .p-card__img::before {
  content: 'ポップス';
}
[data-label="rock"] .p-card__img::before {
  content: 'ロック';
}
[data-label="jazz"] .p-card__img::before {
  content: 'ジャズ';
}
[data-label="latin"] .p-card__img::before {
  content: 'ラテン';
}
[data-label="classic"] .p-card__img::before {
  content: 'クラシック';
}







//////////////////////////////////////////////////////////////////////
/***************
card 選ばれる理由
***************/
.p-card--reason{
  transition: none;
}
.p-card--reason:hover{
  opacity: 1;
}
.p-card--reason{
  @include pc {
    column-gap: rem(50);
  }
}
.p-card--reason .p-card__img{
  aspect-ratio: 335 / 200;
  @include pc {
    width: 39.772%;
    aspect-ratio: 350 / 247;
  }
}
.p-card--reason .p-card__img::before{
  content: none;
}
.p-card--reason  .p-card__body{
  margin-top: rem(30);
  text-align: left;
  @include pc {
    flex: 1;
    margin-top: rem(-3);
  }
}
.p-card--reason .p-card__title{
  position: relative;
  padding-bottom: rem(10);
  font-size: rem(20);
  line-height: calc(30 / 20);
  @include pc {
    padding-bottom: rem(12);
    font-size: rem(22);
    line-height: calc(33 / 22);
  }
}
.p-card--reason .p-card__title::after{
  position: absolute;
  content: '';
  width:  100%;
  height:  rem(2);
  left: 0;
  bottom: 0;
  background-color: #CB0000;
  @include pc {
    width:  calc(100% + rem(50));
    left: rem(-50);
  }
}
.p-card--reason .p-card__text{
  margin-top: rem(17);
  font-size: rem(16);
  line-height: calc(30 / 16);
  letter-spacing: -0.004em;//微調整
  @include pc {
    margin-top: rem(37);
    font-size: rem(18);
    line-height: calc(33 / 18);
  }
}
// .p-card--reason .p-card__text span{
//   display: inline-block;
//   @include pc {
//     display: inline;
//   }
// }

/*******************
card TOPページ-ブログ
*******************/
.p-card--top-blog{
  transition: opacity 0.3s ease;
}
.p-card--top-blog .p-card:hover{
  opacity: 0.7;
}
.p-card--top-blog .p-card__img{
  position: relative;
  width: 100%;
  aspect-ratio: 335 / 200; //
  overflow: hidden;
  @include pc{
    aspect-ratio: 260 / 200;
  }
}
.p-card--top-blog .p-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-card--top-blog .p-card__body{
  margin-top: rem(30);
  @include pc{
    margin-top: rem(20);
  }
}
.p-card--top-blog .p-card__title{
  font-size: rem(20);
  line-height: calc(30 / 20);
  text-align: left;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.p-card--top-blog .p-card__date{
  margin-top: rem(6);
  text-align: right;
  font-size: rem(17);
  line-height: calc(30 / 17);
  @include pc{
    margin-top: rem(11);
  }
}
.p-card--top-blog .p-card__text{
  font-size: rem(20);
  line-height: calc(30 / 20);
  text-align: left;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}

/************************
card ブログ一覧/検索ページ
************************/
.p-card--blog-list {
  @include pc {
    column-gap: rem(50);
  }
}
.p-card--blog-list .p-card__img{
  aspect-ratio: 335 / 200;
  overflow: hidden;
  @include pc{
    flex: 0 0 rem(260); // 幅
    aspect-ratio: 260 / 184;
    max-height: calc(260 / 260 * 184px); // アスペクト比から導いた高さ
  }
}
.p-card--blog-list .p-card__body{
  margin-top: rem(30);
  @include pc{
    flex: 1;
    margin-top: 0;
  }
}
.p-card--blog-list .p-card__title{
  font-size: rem(20);
  line-height: calc(30 / 20);
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.p-card--blog-list .p-card__date{
  margin-top: rem(6);
  text-align: right;
  font-size: rem(17);
  line-height: calc(30 / 17);
  @include pc{
    margin-top: rem(3);
    text-align: left;
  }
}
.p-card--blog-list .p-card__text{
  margin-top: rem(8);
  font-size: rem(16);
  line-height: calc(30 / 16);
  letter-spacing: -0.01em;
  @include pc{
    margin-top: rem(11);
    font-size: rem(18);
    line-height: calc(29 / 18);//微調整
    // line-height: calc(30 / 18);
    letter-spacing: -0.02em;
  }
}

/******************
card ブログ-details
******************/
.p-card--blog-details{
  transition: none;
}
.p-card--blog-details:hover{
  opacity: 1;
}

.p-card--blog-details .p-card__text{
  font-size: rem(16);
  line-height: calc(30 / 16);
  // font-weight: 500;
  @include pc{
    font-size: rem(18);
    line-height: calc(30 / 18);
  }
}
.p-card--blog-details .p-card__title{
  font-size: rem(20);
  line-height: calc(30 / 20);
  @include pc{
    font-size: rem(25);
    line-height: calc(40 / 25);
  }
}
.p-card--blog-details h1.p-card__title{
// .sub-blog-details h1.p-card__title{
  margin-top: rem(30);
  @include pc{
    margin-top: rem(46);
    letter-spacing: 0.02em;//微調整
  }
}
.p-card--blog-details .p-card__date{
  margin-top: rem(6);
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  @include pc{
    margin-top: rem(5);
  }
}

.p-card--blog-details .p-card__text--first{
  margin-top: rem(27);
  letter-spacing: -0.01em;
  @include pc{
    margin-top: rem(48);
  }
}
.p-card--blog-details h2.p-card__title{
  margin-top: rem(39);
  @include pc{
    margin-top: rem(33);
    font-size: rem(20);
    line-height: calc(40 / 20);
  }
}
.p-card--blog-details .p-card__text--second{
  margin-top: rem(17);
  letter-spacing: -0.01em;
  @include pc{
    margin-top: rem(15);
  }
}
.p-card--blog-details .p-card__img--second{
  margin-top: rem(39);
  aspect-ratio: 335 / 200;
  overflow: hidden;
  width: rem(335);
  @include pc{
    margin-top: rem(17);
  }
}
.p-card--blog-details h3.p-card__title{
  position: relative;
  padding-left: rem(9.5);
  margin-top: rem(50);
  @include pc{
    margin-top: rem(43.5);
    font-size: rem(20);
    line-height: calc(40 / 20);
  }
}
.p-card--blog-details h3.p-card__title:before{
  position: absolute;
  content: '';
  width: rem(3);
  height: rem(50);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #000000;
  @include pc{
    top: 44%;
    height: rem(20);
  }
}
.p-card--blog-details .p-card__text--third{
  position: relative;
  padding: rem(14) rem(20) rem(14) rem(70);
  margin-top: rem(19.5);
  // margin-top: rem(36.5);
  background-color: #E8E8E8;
  @include pc{
    padding: rem(14) rem(30) rem(14) rem(67);
    margin-top: rem(17);
    letter-spacing: -0.01em;//微調整
  }
}
.p-card--blog-details .p-card__text--third::before{
  position: absolute;
  content: '';
  display: inline-block;
  width: rem(27);
  height: rem(23.28);
  top: rem(22);
  left: rem(25);
  background-image: url("../images/quotation-sp.png");
  background-size: contain;
  background-repeat: no-repeat;
  @include pc{
    top: rem(20);
    left: rem(30);
  }
}
/*********************************
card 関連記事 サイドバーあり(ブログ）
*********************************/
.p-card--related-compact{
  align-items: center;
  @include pc{
    align-items: flex-start;
  }
}

.p-card--related-compact .card-lists{
  margin-top: rem(19);//微調整
  row-gap: rem(21);
  @include pc{
    margin-top: rem(30);//微調整
    row-gap: rem(30);
  }
}
.p-card--related-compact .p-card__img{
  aspect-ratio: 160 / 110;
  flex: 0 0 rem(160); // 幅
  // width: rem(160);
  overflow: hidden;
  @include pc{
    flex: 0 0 rem(200); // 幅
    aspect-ratio: 200 / 140;
    // width: rem(200);
  }
}
.p-card--related-compact .p-card__img img {
  display: block;
  width: 100%;
  // height: auto;
  height: 100%;
  // overflow: hidden;
  object-fit: cover;
}

.p-card--related-compact .p-card__text{
  font-size: rem(17);
  line-height: calc(28 / 17);
  font-weight: 700;
  max-height: rem(56);/*2行表示*/
  overflow: hidden;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.p-card--related-compact .p-card__text span{
  display: inline-block;
  @include pc{
    display: inline;
  }
}
.p-card--related-compact .p-card__date{
  margin-top: rem(3);//微調整
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  @include pc{
    margin-top: rem(13);
  }
}


/***************
card 卒業実績一覧
***************/
.p-card--result-list {
  @include pc {
    column-gap: rem(50);
  }
}
.p-card--result-list .p-card__img{
  aspect-ratio: 335 / 236;
  @include pc{
    aspect-ratio: 387 / 273;
    overflow: hidden;
  }
}
.p-card--result-list .p-card__body{
  margin-top: rem(20);
  @include pc{
    // flex: 1;
    margin-top: rem(20);
  }
}
.p-card--result-list .p-card__title{
  font-size: rem(20);
  line-height: calc(25 / 20);
  @include pc{
    line-height: calc(25 / 20);
  }
}
.p-card--result-list .p-card__date{
  margin-top: rem(10);
  text-align: right;
  font-size: rem(18);
  line-height: calc(32 / 18);
  @include pc{
    margin-top: rem(10);
  }
}
// .p-card--result-list {
//   @include pc {
//     column-gap: rem(50);
//   }
// }
// .p-card--result-list .p-card__img{
//   aspect-ratio: 335 / 200;
//   @include pc{
//     aspect-ratio: 387 / 273;
//     overflow: hidden;
//   }
// }
// .p-card--result-list .p-card__body{
//   margin-top: rem(30);
//   @include pc{
//     // flex: 1;
//     margin-top: rem(20);
//   }
// }
// .p-card--result-list .p-card__title{
//   font-size: rem(20);
//   line-height: calc(30 / 20);
//   @include pc{
//     line-height: calc(25 / 20);
//   }
// }
// .p-card--result-list .p-card__date{
//   margin-top: rem(6);
//   text-align: right;
//   font-size: rem(17);
//   line-height: calc(30 / 17);
//   @include pc{
//     margin-top: rem(10);
//   }
// }

/*******************
card 卒業実績-details
*******************/
.p-card--result-details{
  transition: none;
}
.p-card--result-details:hover{
  opacity: 1;
}

.p-card--result-details .p-card__img{
  @include pc{
    aspect-ratio: 22 / 10; //880/400
  }
}
.p-card--result-details h1.p-card__title{
  margin-top: rem(30);
  font-size: rem(20);
  line-height: calc(30 / 20);
  @include pc{
    margin-top: rem(50);
    font-size: rem(25);
    line-height: calc(40 / 25);
    letter-spacing: -0.02em;//微調整
  }
}
.p-card--result-details .p-card__date{
  margin-top: rem(12);
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  @include pc{
    margin-top: rem(15);
  }
}
.p-card--result-details .c-table{
  margin-top: rem(13);
  @include pc{
    width: rem(400);
    margin-top: 0;
  }
}
.p-card--result-details .p-card__text{
  margin-top: rem(28);
  font-size: rem(18);
  line-height: calc(30 / 18);
  @include pc{
    flex: 1;
    margin-top: 0;
  }
}
.p-card--result-details .p-card__text span{
display:  inline-block
}

/*************************
card 関連記事 全幅(卒業実績）
*************************/
.p-card--related-full{
  align-items: flex-start;
}
.p-card--related-full .p-card__text{
  margin-top: 0;
}
.p-card--related-full .p-card__img{
  aspect-ratio: 160 / 113;
  flex: 0 0 rem(160); // 幅
  overflow: hidden;
  @include pc{
    flex: 0 0 rem(260); // 幅
    aspect-ratio: 260 / 183;
  }
}
.p-card--related-full .p-card__img img {
  display: block;
  width: 100%;
  // height: auto;
  height: 100%;
  object-fit: cover;
}

.p-card--related-full .p-card__text{
  font-size: rem(17);
  line-height: calc(28 / 17);
  font-weight: 700;
  max-height: rem(56);/*2行表示*/
  overflow: hidden;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.p-card--related-full .p-card__text span{
  display: inline-block;
  @include pc{
    display: inline;
  }
}
.p-card--related-full .p-card__date{
  margin-top: rem(3);//微調整
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  @include pc{
    margin-top: rem(13);
  }
}

/***************
card おすすめ記事
***************/
.p-card--recommend .p-card__text{
  margin-top: rem(8.54);
  font-size: rem(17);
  line-height: calc(28 / 17);
  font-weight: 700;
  @include pc{
    margin-top: 0;
  }
}
.p-card--recommend .card-lists{
  row-gap: rem(21);
  margin-top: rem(30);
}
.p-card--recommend{
  flex-direction: row;//spで横並び
  column-gap: rem(20);
  @include pc{
    column-gap: rem(15);
  }
}
.p-card--recommend .p-card__img{
  aspect-ratio: 160 / 110;
  flex: 0 0 rem(160); // 幅
  @include pc{
    flex: 0 0 rem(95); // 幅
    aspect-ratio: 95 / 75;
    overflow: hidden;
  }
}

.p-card--recommend .p-card__img::before{
  content: '';
}

/***************
card 前後ページへ
***************/
.p-card--page-nav{
  margin-top: rem(16);
  @include pc{
    margin-top: rem(16);
    column-gap: rem(15);
  }
}
.p-card--page-nav .p-card__img{
  aspect-ratio: auto;
  @include pc{
    width: 100%;
    aspect-ratio: 98 / 68;
    overflow: hidden;
  }
}
.p-card--page-nav .p-card__img img{
  display: none;
  @include pc{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  };
}
.p-card--page-nav .p-card__title{
  font-size: rem(16);
  font-weight: 700;
  @include pc{
    line-height: calc(22.67 / 16);//微調整
  }
}






