@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

//前後記事リンク
.page-nav{
  display: flex;
  flex-direction: row;
  column-gap: rem(22);
  @include pc{
    column-gap: rem(79);
    justify-content: space-between;
  }
}
.page-nav a{
  transition: opacity 0.3s ease;
}
.page-nav a:hover{
  opacity: 0.7;
}
.page-nav > * {
  width: 50%;
  @include pc{
    width: rem(340);
  }
}
.page-nav__prev,
.page-nav__next{
  // padding: rem(3.5) 0;
  text-align: center;
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  color: #FFFFFF;
  background-color: #000000;
}
.page-nav__prev{
  padding: rem(3.5) 0 rem(3.5) rem(18);//微調整
  text-align: left;
  @include pc{
    padding: rem(3.5) 0 rem(3.5) rem(20);//微調整
  }
}
.page-nav__next{
  padding: rem(3.5) rem(18) rem(3.5) 0;//微調整
  text-align: right;
  @include pc{
    padding: rem(3.5) rem(20) rem(3.5) 0;//微調整
  }
}
// .page-nav .p-card{
//   margin-top: rem(16);
//   // margin-top: rem(15);
//   @include pc{
//     margin-top: rem(16);
//     column-gap: rem(15);
//   }
// }
// .page-nav .p-card__img{
//   aspect-ratio: auto;
//   @include pc{
//     width: 100%;
//     aspect-ratio: 98 / 68;
//     overflow: hidden;
//   }
// }
// .page-nav .p-card__img img{
//   display: none;
//   @include pc{
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   };
// }

// // .page-nav .p-card__body{
// //   @include pc{
// //     flex: 1;
// //   }
// // }
// .page-nav .p-card__title{
//   // margin-top: rem(18);
//   font-size: rem(16);
//   // line-height: calc(25 / 16);
//   font-weight: 700;
//   @include pc{
//     // letter-spacing: -0.06em;    
//     line-height: calc(22.67 / 16);//微調整
//   }
// }
// // .article-nav__text{
// //   margin-top: rem(18);
// //   font-size: rem(16);
// //   line-height: calc(25 / 16);
// // }
