@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.reason{
  padding-top: rem(49);
  padding-bottom: rem(39);
  text-align: center;
  @include pc {
    padding-top: rem(64);
    padding-bottom: rem(90);
  }
}
.reason__lists{
  display: flex;
  flex-direction: column;
  margin-top: rem(36);
  gap: rem(39);
  @include pc{
    margin-top: rem(28);
    gap: rem(50);
  }
}
// .reason-list{
//   @include pc {
//     margin-top: rem(50);
//   }
// }
.reason-list:first-child{
  margin-top: 0;
}
.c-card{
  @include pc {
    column-gap: rem(50);
  }
}
.reason-list__img{
  width: 100%;
  aspect-ratio: 335 / 200;
  // overflow: hidden;
  @include pc {
    width: 39.772%;
    aspect-ratio: 350 / 247;
  }
}
.reason-list__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reason-list__caption{
  margin-top: rem(30);
  text-align: left;
  @include pc {
    flex: 1;
    margin-top: 0;
  }
}
.reason-list__subtitle{
  position: relative;
  padding-bottom: rem(10);
  font-size: rem(20);
  line-height: calc(30 / 20);
  @include pc {
    padding-bottom: rem(12);
    font-size: rem(22);
    line-height: calc(33 / 22);
  }
}
.reason__list:first-child .reason-list__subtitle{
  @include pc {
    padding-top: rem(9);//微調整//
  }
}
.reason-list__subtitle::after{
  position: absolute;
  content: '';
  width:  100%;
  height:  rem(2);
  left: 0;
  bottom: 0;
  background-color: #CB0000;
  @include pc {
    width:  calc(100% + rem(50));
    left: rem(-50);
  }
}
.reason-list__text{
  margin-top: rem(17);
  font-size: rem(16);
  line-height: calc(30 / 16);
  letter-spacing: -0.004em;//微調整
  @include pc {
    margin-top: rem(37);
    font-size: rem(18);
    line-height: calc(33 / 18);
  }
}