@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.reason{
  padding-top: rem(49);
  padding-bottom: rem(39);
  text-align: center;
  @include pc {
    padding-top: rem(64);
    padding-bottom: rem(90);
  }
}
.reason-list__item{
  @include pc {
    display: flex;
    flex-direction: row;
     gap: rem(50);
  }
}
.reason h4{
  margin-bottom: rem(36);
  @include pc{
    margin-bottom: rem(28);
  }
}
.reason-item__img{
  margin-bottom: rem(30);
  @include pc {
    width: 39.772%;
    margin-bottom: rem(50);
  }
}
.reason-item__caption{
  margin-bottom: rem(39);
  text-align: left;
  @include pc {
    flex: 1;
  }
}
.reason-item__caption_head{
  position: relative;
  font-size: rem(20);
  line-height: calc(30 / 20);
  padding-bottom: rem(10);
  margin-bottom: rem(17);
  @include pc {
    // margin-top: rem(7);
    padding-bottom: rem(12);
    margin-bottom: rem(37);
    font-size: rem(22);
    line-height: calc(33 / 22);
  }
}
.reason-list__item:first-child .reason-item__caption_head{
  @include pc {
    // margin-top: rem(7);
    margin-top: rem(9);/*微調整*/
  }
}
.reason-item__caption_head::after{
  position: absolute;
  content: '';
  width:  100%;
  height:  rem(2);
  left: 0;
  bottom: 0;
  background-color: #CB0000;
  @include pc {
    width:  calc(100% + rem(50));
    left: rem(-50);
  }
}
.reason-item__caption_txt{
  font-size: rem(16);
  line-height: calc(30 / 16);
  @include pc {
    font-size: rem(18);
    line-height: calc(33 / 18);
  }
}