@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.reason{
  padding-top: rem(49);
  padding-bottom: rem(39);
  text-align: center;
  @include pc {
    padding-top: rem(64);
    padding-bottom: rem(90);
  }
}
// .reason__title{
//   margin-bottom: rem(36);
//   @include pc{
//     margin-bottom: rem(28);
//   }
// }
.reason__items{
  display: flex;
  flex-direction: column;
    margin-top: rem(36);
  @include pc{
    margin-top: rem(28);
  }

}
.reason-item{
  margin-top: rem(39);

  
  
  @include pc {
    margin-top: rem(50);
  }
}
.reason-item:first-child{
  margin-top: 0;
}
.reason-item__figure{
  display: flex;
  flex-direction: column;
  @include pc {
    flex-direction: row;
    column-gap: rem(50);
  }
}
.reason-item__img{
  width: 100%;
  @include pc {
    width: 39.772%;
    margin-bottom: 0;
  }
}
.reason-item__caption{
  margin-top: rem(30);
  text-align: left;
  @include pc {
    flex: 1;
  }
}
.reason-item__subtitle{
  position: relative;
  font-size: rem(20);
  line-height: calc(30 / 20);
  padding-bottom: rem(10);
  @include pc {
    padding-bottom: rem(12);
    font-size: rem(22);
    line-height: calc(33 / 22);
  }
}
.reason__item:first-child .reason-item__subtitle{
  @include pc {
    padding-top: rem(9);//微調整//
  }
}
// .reason__items:first-child .reason-item__subtitle{
//   @include pc {
//     margin-top: rem(7);/*微調整*/
//   }
// }
.reason-item__subtitle::after{
  position: absolute;
  content: '';
  width:  100%;
  height:  rem(2);
  left: 0;
  bottom: 0;
  background-color: #CB0000;
  @include pc {
    width:  calc(100% + rem(50));
    left: rem(-50);
  }
}
.reason-item__text{
  margin-top: rem(17);
  font-size: rem(16);
  line-height: calc(30 / 16);
  @include pc {
    margin-top: rem(37);
    font-size: rem(18);
    line-height: calc(33 / 18);
  }
}