@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


// .c-section{
//   padding-top: rem(80);
//   padding-bottom: rem(80);
//   @include sp {
//     padding-top: rem(50);
//     padding-bottom: rem(50);
//   }
// }
.section__inner{
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include pc {
    width:  calc(100% + rem(50));
  }
}
