@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-search{
  padding-top: rem(36);
  padding-bottom: rem(203);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    // padding-top: rem(70);//微調整
    padding-top: rem(66);
    padding-bottom: rem(210);
  }
}
/**************
search
**************/
.sub-search__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-search h2{
  font-size: rem(18);
  line-height: calc(25 / 18);
  font-weight: 500;
}
.sub-search h2 span{
  font-weight: 700;
}
.sub-search .sub-search__counter{
  font-size: rem(18);
  line-height: calc(30 / 18);
  font-weight: 500;
}
.sub-search__wrapper{
  // margin-top: rem(45);//微調整
  margin-top: rem(42);
  row-gap: rem(39);
  @include pc{
    margin-top: rem(42);
    row-gap: rem(70);
  }
}
.sub-search .c-pager{
  margin-top: rem(59);
  @include pc{
    margin-top: rem(70);
  }
}

/**************
card
**************/

// .p-card--search {
//   @include pc {
//     column-gap: rem(50);
//   }
// }
// .sub-search .p-card__img{
//   aspect-ratio: 335 / 200; //
//   @include pc{
//     flex: 0 0 rem(260); // 幅
//     aspect-ratio: 260 / 184;
//     overflow: hidden;
//   }
// }
// .sub-search .p-card__body{
//   margin-top: rem(30);
//   @include pc{
//     flex: 1;
//     margin-top: 0;
//   }
// }
// .sub-search .p-card__title{
//   font-size: rem(20);
//   line-height: calc(30 / 20);
//   @include pc{
//     font-size: rem(20);
//     line-height: calc(25 / 20);
//   }
// }
// .sub-search .p-card__date{
//   margin-top: rem(6);
//   text-align: right;
//   font-size: rem(17);
//   line-height: calc(30 / 17);
//   @include pc{
//     margin-top: rem(3);
//     text-align: left;
//   }
// }
// .sub-search .p-card__text{
//   margin-top: rem(8);
//   font-size: rem(16);
//   line-height: calc(30 / 16);
//   letter-spacing: -0.01em;
//   @include pc{
//     margin-top: rem(11);
//     font-size: rem(18);
//     line-height: calc(30 / 18);
//     letter-spacing: -0.02em;
//   }
// }


