@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-blog-list{
  padding-top: rem(46);
  padding-bottom: rem(203);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(67);
    padding-bottom: rem(210);
  }
}
/**************
blog-list
**************/
.sub-blog-list h2{
  font-size: rem(25);
  line-height: calc(40 / 25);
  text-align: center;
}
.sub-blog-list__wrapper{
  margin-top: rem(39);
  row-gap: rem(39);
  @include pc{
    margin-top: rem(38);
    row-gap: rem(70);
  }
}
.sub-blog-list .c-pager{
  margin-top: rem(59);
  @include pc{
    margin-top: rem(70);
  }
}


/**************
card
**************/
// .sub-blog-list .p-card{
//   transition: opacity 0.3s ease;
//   // transition: color 0.3s opacity 0.3s;
// }
// .sub-blog-list .p-card:hover{
//   opacity: 0.7;
//   // color: #CB0000;
// }

// .sub-blog-list .p-card--horizontal {
//   @include pc {
//     column-gap: rem(50);
//   }
// }
// .sub-blog-list .p-card__img{
//   aspect-ratio: 335 / 200;
//   @include pc{
//     flex: 0 0 rem(260); // 幅
//     aspect-ratio: 260 / 184;
//     overflow: hidden;
//   }
// }
// .sub-blog-list .p-card__img::before{
//   width: rem(90);
//   height:  rem(30);
//   padding-top: rem(2);
//   font-size: rem(15);
//   line-height: calc(25 / 15);
//   @include pc{
//   width: rem(80);
//   height:  rem(30);
//   }
// }
// .sub-blog-list .card-lists li:nth-child(1) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(4) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(7) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(10) .p-card__img::before{
//   content: 'ギター';
// }
// .sub-blog-list .card-lists li:nth-child(2) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(5) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(8) .p-card__img::before{
//   content: '集客方法';
// }
// .sub-blog-list .card-lists li:nth-child(3) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(6) .p-card__img::before,
// .sub-blog-list .card-lists li:nth-child(9) .p-card__img::before{
//   content: 'SNS';
// }
// .sub-blog-list .p-card__body{
//   margin-top: rem(30);
//   @include pc{
//     flex: 1;
//     margin-top: 0;
//   }
// }
// .sub-blog-list .p-card__title{
//   font-size: rem(20);
//   line-height: calc(30 / 20);
//   @include pc{
//     font-size: rem(20);
//     line-height: calc(25 / 20);
//   }
// }
// .sub-blog-list .p-card__date{
//   margin-top: rem(6);
//   text-align: right;
//   font-size: rem(17);
//   line-height: calc(30 / 17);
//   @include pc{
//     margin-top: rem(3);
//     text-align: left;
//   }
// }
// .sub-blog-list .p-card__text{
//   margin-top: rem(8);
//   font-size: rem(16);
//   line-height: calc(30 / 16);
//   letter-spacing: -0.01em;
//   @include pc{
//     margin-top: rem(11);
//     font-size: rem(18);
//     line-height: calc(30 / 18);
//     letter-spacing: -0.02em;
//   }
// }

