@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-result-list{
  padding-top: rem(46);
  padding-bottom: rem(203);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(67);
    padding-bottom: rem(210);
  }
}
/**************
result-list
**************/
.sub-result-list h2{
  font-size: rem(25);
  line-height: calc(40 / 25);
  text-align: center;
}
.sub-result-list__wrapper{
  // margin-top: rem(49);
  // row-gap: rem(56);
  margin-top: rem(39);
  row-gap: rem(39);
  @include pc{
    margin-top: rem(38);
    row-gap: rem(61);
    column-gap: rem(106 );
  }
}
.sub-result-list .card-lists li{
  @include pc{
    width: calc((100% - 106px) / 2);
  }
}

.sub-result-list .c-pager{
  margin-top: rem(59);
  @include pc{
    margin-top: rem(71);
  }
}

/**************
card
**************/
// .sub-result-list .c-card{
//   transition: opacity 0.3s ease;
//   // transition: color 0.3s opacity 0.3s;
// }
// .sub-result-list .c-card:hover{
//   opacity: 0.7;
//   // color: #CB0000;
// }

// .sub-result-list .c-card--horizontal {
//   @include pc {
//     column-gap: rem(50);
//   }
// }
// .sub-result-list .c-card__img{
//   aspect-ratio: 335 / 200;
//   @include pc{
//     aspect-ratio: 387 / 273;
//     overflow: hidden;
//   }
// }
// .sub-result-list .c-card__img::before{
//   width: rem(80);
//   height:  rem(30);
//   padding-top: rem(2);
//   font-size: rem(15);
//   line-height: calc(25 / 15);
//   @include pc{
//   width: rem(100);
//   height:  rem(30);
//   }
// }
// .sub-result-list .card-lists li:nth-child(1) .c-card__img::before,
// .sub-result-list .card-lists li:nth-child(6) .c-card__img::before{
//   content: 'ポップス';
// }
// .sub-result-list .card-lists li:nth-child(2) .c-card__img::before,
// .sub-result-list .card-lists li:nth-child(7) .c-card__img::before{
//   content: 'ロック';
// }
// .sub-result-list .card-lists li:nth-child(3) .c-card__img::before,
// .sub-result-list .card-lists li:nth-child(8) .c-card__img::before{
//   content: 'ジャズ';
// }
// .sub-result-list .card-lists li:nth-child(4) .c-card__img::before,
// .sub-result-list .card-lists li:nth-child(9) .c-card__img::before{
//   content: 'ラテン';
// }
// .sub-result-list .card-lists li:nth-child(5) .c-card__img::before,
// .sub-result-list .card-lists li:nth-child(10) .c-card__img::before{
//   content: 'クラシック';
// }
// .sub-result-list .c-card__body{
//   margin-top: rem(30);
//   @include pc{
//     // flex: 1;
//     margin-top: rem(20);
//   }
// }
// .sub-result-list .c-card__title{
//   font-size: rem(20);
//   line-height: calc(30 / 20);
//   @include pc{
//     line-height: calc(25 / 20);
//   }
// }
// .sub-result-list .c-card__date{
//   margin-top: rem(6);
//   text-align: right;
//   font-size: rem(17);
//   line-height: calc(30 / 17);
//   @include pc{
//     margin-top: rem(10);
//   }
// }
// // .sub-result-list .c-card__text{
// //   margin-top: rem(8);
// //   font-size: rem(16);
// //   line-height: calc(30 / 16);
// //   letter-spacing: -0.01em;
// //   @include pc{
// //     margin-top: rem(11);
// //     font-size: rem(18);
// //     line-height: calc(30 / 18);
// //     letter-spacing: -0.02em;
// //   }
// // }


