@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-blog-details{
  padding-top: rem(50);
  padding-bottom: rem(197);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(70);//微調整
    padding-bottom: rem(187);
  }
}
.sub-blog-details__sidebar{
  padding-top: rem(30.14);
  @include pc{
    padding-top: 0;
  }
}


/*メイン*/

//メイン記事
.sub-blog-details .article__core .sns-btn{
  margin-top: rem(22);//  微調整
  // margin-top: rem(25);
}
.sub-blog-details .sns-btn__img img{
  width: auto;
  height: rem(40);
  display: block;
}
.sub-blog-details .article-core__list{
  position: relative;
  padding-bottom: rem(38.5);
  margin-top: rem(27);
  font-size: rem(16);
  line-height: calc(30 / 16);
  font-weight: 500;
  @include pc{
    padding-bottom: rem(40.5);
    margin-top: rem(28);
    font-size: rem(18);
    line-height: calc(30 / 18);
  }
}
.sub-blog-details .article-core__list li{
  padding-left: 1em;     /* 全体を右にズラす */
  text-indent: -1em;     /* 1行目だけ左に戻す */
}
.sub-blog-details .article-core__list::after{
  position: absolute;
  content: '';
  width: 100%;
  height:  rem(0.5);
  bottom: 0;
  left: 0;
  background-color: #000000;
}
.sub-blog-details .sub-blog-details__link{
  margin-top: rem(25);//部調整
  @include pc{
    margin-top: rem(27);
    text-align: left;
  }
}
.sub-blog-details .sub-blog-details__link a{
  font-size: rem(20);
  line-height: calc(33 / 20);
  color: #CB0000;
}


/*前後ページリンク*/
.sub-blog-details .article__nav{
  margin-top: rem(45);
  @include pc{
    margin-top: rem(55);
  }
}


/*関連記事*/
.sub-blog-details .article__related{
  // margin-top: rem(67);
  margin-top: rem(64);
  @include pc{
    margin-top: rem(100);
  }
}

/*サイドバー*/
.sidebar__content{
  margin-top: rem(29);//微調整
}
.sidebar__content:first-child{
  margin-top: 0;
}
/*無料メールマガジン*/
.sidebar-newsletter__container{
  position: relative;
  border: rem(0.5) #000000 solid;
  width: 100%;
  height: auto;
  padding: rem(20);
}
.sidebar-newsletter__container a{
  transition: opacity 0.3s ease;
}
.sidebar-newsletter__container a:hover{
  opacity: 0.5;
}
.sidebar-newsletter__container p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(18);
  line-height: calc(33 / 18);
}

/*ブログ内を検索*/
.sidebar-search__container{
  border: rem(0.5) #000000 solid;
  width: 100%;
  height: auto;
  padding: rem(20);
  @include pc{
    padding: rem(15);
  }
}
.sidebar-search__container div{
  background-color: #000000;
}

/*おすすめの記事*/
.sidebar-recommend__list a{
  transition: opacity 0.3s ease;
}
.sidebar-recommend__list a:hover{
  opacity: 0.5;
}
.sidebar-recommend__list li{
  margin-top: rem(20.5);
  @include pc{
    margin-top: rem(15);
  }
}

/*カテゴリー*/
.sidebar__category{
  font-size: rem(17);
  line-height: calc(28 / 17);
  font-weight: 500;
}
.sidebar-category__list{
  margin-top: rem(12);
}
.sidebar-category__list li{
  position: relative;
  padding-bottom: rem(7);
  margin-top: rem(12);//微調整
}
.sidebar-category__list li:first-child{
  margin-top: 0;
}
.sidebar-category__list li::after{
  position: absolute;
  content: '';
  width: 100%;
  height: rem(0.5);
  bottom: 0;
  left: 0;
  background-color: #000000;
}
.sidebar-category__list li a{
  transition: opacity 0.3s ease;
}
.sidebar-category__list li a:hover{
  opacity: 0.5;
}
