@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-contact{
  padding-top: rem(47);
  padding-bottom: rem(108);
  font-weight: 500;
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(68);
    padding-bottom: rem(100);
  }
}
// .contact-send-page .sub-contact{
//   padding-top: rem(47);
//   padding-bottom: rem(50);
//   @include pc {
//     padding-top: rem(68);
//     padding-bottom: rem(90);
//   }
// }
// .sub-contact .sub-contact__message{
//   font-size: rem(16);
//   line-height: calc(30 / 16);
//   text-align: left;
//   font-weight: 500;
//   @include pc{
//     font-size: rem(18);
//     line-height: calc(30 / 18);
//     text-align: center;
//   }
// }
.sub-contact .c-btn--primary{
  max-width: rem(880);
  margin: 0 auto;
  margin-top: rem(50);
  @include media(375px){
    width: 100%;
  }

}
/**************
contact-form
**************/
.sub-contact form{
  margin-top:rem(32);
  @include pc{
    margin-top:rem(65);
  }
}
.form__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: rem(15);//微調整
  // margin-top: rem(13);
  @include pc {
    flex-direction: row;
    align-items: center;
    margin-top: rem(30);
  }
}
.form__item:first-child {
  margin-top: 0;
}
.form__label {
  width: 100%;
  // padding: rem(2.5) 0;//微調整
  // padding: rem(3.5) 0;
  font-size: rem(16);
  line-height: calc(33 / 16);
  font-weight: 500;
  @include pc{
    width: rem(169);
    font-size: rem(20);
    line-height: calc(33 / 20);
  }
}
.form__input {
  width: 100%;
  // margin-top: rem(2);
  font-size: rem(15);
  line-height: calc(33 / 15);
  @include pc {
    flex: 1;
    margin-top: 0;
  }
}
.form__text,
.form__textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: rem(4.5) rem(20) rem(1.5);
  // padding: rem(3) rem(20);
  font-size: rem(15);
  line-height: calc(33 / 15);
  border: rem(0.5) solid #000000;
}
.form__text::placeholder,
.form__textarea::placeholder {
  color: #B2B2B2;
}

//textarea-container
.form__textarea-container{
  margin-top: rem(8);
  @include pc{
    align-items: flex-start;
    margin-top: rem(27);
  }
}
.form__textarea {
  height: rem(190);     /* 初期の高さ */
  min-height: rem(190); /* 最低の高さを190pxに固定 */
  resize: vertical;     /* 垂直方向のみリサイズ可能 */
  overflow-y: auto;     /* 縦スクロールを表示 */
  @include pc{
    height: rem(300);     /* 初期の高さ */
    min-height: rem(300); /* 最低の高さを190pxに固定 */
    padding-top: rem(12);
  }
}
.form__textarea-container .form__label{
  @include pc {
    margin-top: rem(6);
  }
}
.form__textarea-container .form__input{
  width: 100%;
}

//checkbox-container
.form__checkbox{
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1列*/
  row-gap: rem(10);
  width: 100%;
  @include pc {
    row-gap: rem(9);
  }
}
.form__checkbox-container{
  margin-top: rem(13);
  @include pc{
    align-items: flex-start;
    margin-top: rem(26);
  }
}
.form__checkbox-container .form__label{
  // margin-top: rem(10);//微調整
  // width: 100%;
  @include pc {
    align-items: flex-start;
    margin-top: 0;
    line-height: calc(30 / 20);
  }
}
.form__checkbox-custom {
  font-size: rem(16);
  line-height: calc(30 / 16);
  display: inline-flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  @include pc {
    font-size: rem(18);
    line-height: calc(30 / 18);
  }
}
.form__checkbox-custom span{
  position: relative;
  padding-left: rem(30);
  display: inline-block;
  @include pc {
    padding-left: rem(40);
  }
}
.form__checkbox-custom span::before {
  content: '';
  position: absolute;
  left: 0;
  // top:42%;
  top: 50%;
  transform: translateY(-50%);
  width: rem(20);
  height: rem(20);
  border: rem(0.5) solid #000000;
  box-sizing: border-box;
  // @include pc{
  //   top: 39%;
  // }
}
.form__checkbox-custom input:checked + span::after {
  content: '';
  position: absolute;
  top: 45%;
  left: rem(10); // ::before の left + width / 2
  transform: translate(-50%, -50%) rotate(45deg);
  width: rem(8);
  height: rem(12);
  border: solid #000;
  border-width: 0 rem(2) rem(2) 0;
}


//
input:focus,
textarea:focus{
  outline: 2px solid #000000; /* 枠線 */
  outline-offset: 2px; /* 枠線を少し外側にずらす */
}
input[type="checkbox"]:focus,
input[type="submit"] {
  outline: none; /* フォーカス時の枠線を削除 */
}



// .form__input-select {
//   position: relative;
//   appearance: none;
// }
// .form__select {
//   appearance: none;
//   background: #fff;
//   cursor: pointer;
// }
// .form__input-select::after {
//   content: '';
//   position: absolute;
//   right: rem(19);
//   top: 55%;
//   transform: translateY(-50%);
//   width: rem(18);
//   height: rem(12);
//   background-image: url("../images/select-down.png");
//   background-size: contain;
//   background-repeat: no-repeat;
//   pointer-events: none;
// }
// .form__radio-custom input:checked + span::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: rem(-10);
//   transform: translate(-50%, -50%);
//   width: rem(6);
//   height: rem(6);
//   background: #000;
//   border-radius: 50%;
//   @include sp {
//     left: rem(-23);
//   }
// }
