@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

// .sub-contact{
//   padding-top: rem(47);
//   padding-bottom: rem(108);
//   color: #000000;
//   background-color: #FFFFFF;
//   @include pc {
//     padding-top: rem(68);
//     padding-bottom: rem(100);
//   }
// }
.sub-contact-send{
  padding-top: rem(47);
  padding-bottom: rem(50);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(67);
    padding-bottom: rem(90);
  }
}
.sub-contact-send .c-btn--primary{
  max-width: rem(880);
  margin: 0 auto;
  margin-top: rem(39);
  @include media(375px){
    width: 100%;
  }
  @include pc{
    margin-top: rem(40);
  }
}


