@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.support{
  padding-top: rem(49);
  padding-bottom: rem(40);
  text-align: center;
  color: #FFFFFF;
  background-color: #CB0000;
  @include pc {
    padding-top: rem(68);
    padding-bottom: rem(60);
  }
}
.support__title{
  padding-bottom: rem(14);
  @include pc {
    padding-bottom: rem(30);
  }
}