@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.top-blog{
  padding-top: rem(50);
  padding-bottom: rem(191);

  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(70.5);
    padding-bottom: rem(205);
  }
}
.top-blog__wrapper{
  margin-top: rem(39);
  margin-bottom: rem(37);
  row-gap: rem(41);
  @include pc{
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    margin-top: rem(35);
    column-gap: rem(50);
  }
}

/*****************
card
*****************/
.top-blog .c-card{
  transition: opacity 0.3s ease;
  // transition: color 0.3s opacity 0.3s;
}
.top-blog .c-card:hover{
  opacity: 0.7;
  // color: #CB0000;
}
.top-blog .c-card__img{
  position: relative;
  width: 100%;
  aspect-ratio: 335 / 200; //
  overflow: hidden;
  @include pc{
    aspect-ratio: 260 / 200;
  }
}
.top-blog .c-card__img::before{
  position: absolute;
  content: 'common';
  width: rem(90);
  height:  rem(30);
  padding-top: rem(2);
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(15);
  line-height: calc(25 / 15);
  color: #FFFFFF;
  background-color: #CB0000;
  @include pc{
  width: rem(80);
  height:  rem(30);
  }
}
.top-blog .card-lists li:nth-child(1) .c-card__img::before{
  content: 'SNS';
}
.top-blog .card-lists li:nth-child(2) .c-card__img::before{
  content: '集客方法';
}
.top-blog .card-lists li:nth-child(3) .c-card__img::before{
  content: 'ギター';
}
.top-blog .c-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-blog .c-card__body{
  margin-top: rem(30);
  @include pc{
    margin-top: rem(20);
  }
}
.top-blog .c-card__title{
  font-size: rem(20);
  line-height: calc(30 / 20);
  text-align: left;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.top-blog .c-card__date{
  margin-top: rem(6);
  text-align: right;
  font-size: rem(17);
  line-height: calc(30 / 17);
  @include pc{
    margin-top: rem(11);
  }
}
.top-blog .c-card__text{
  font-size: rem(20);
  line-height: calc(30 / 20);
  text-align: left;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.top-blog__link{
  margin-top: rem(37);
  @include pc{
    text-align: right;
  }
}
.top-blog__link a{
  color: #000000;
}
