@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.top-voice{
  padding-top: rem(46);
  padding-bottom: rem(50);
  text-align: center;
  color: #FFFFFF;
  background-color:#CB0000;
  @include pc{
    padding-top: rem(46);//微調整
    // padding-top: rem(44);
    padding-bottom: rem(80);
  }
}



/*****************
スライダー
*****************/
.splide__track{
  margin-top: rem(39);
  @include pc{
    margin-top: rem(34); //微調整
  }
}
#voice .splide__slide img {
  width: 100%;
  height: auto;
}
/*CSSでデフォルト矢印の見た目を完全に*/
.splide__arrow {
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  background: none;
}
.splide__arrow svg {
  display: none;
}

/* 左右矢印 */
.splide__arrows {
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  max-width: rem(998);//((440+20.24+18.6)×2)+α
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: auto;
  z-index: 2;
  @include pc{
    top: 50%;
  }
}
.custom-arrow {
  width: rem(30);
  height: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.custom-arrow img {
  display: block;
  width: 100%;
  height: auto;
}
/*****************
card
*****************/
.top-voice__list{
  transition: opacity 0.3s;
}
.top-voice__list:hover{
  opacity: 0.9;
}
// .top-voice__list a{
//   transition: opacity 0.3s;
// }
// .top-voice__list a:hover{
//   opacity: 0.9;
// }

.top-voice-list__img{
  width: 100%;
  aspect-ratio: 335 / 200; // 比率を統一
  overflow: hidden;
  @include pc{
    aspect-ratio: 27 / 19;
  }
}
.top-voice-list__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-voice-list__text{
  margin-top: rem(27);
  @include pc{
    margin-top: rem(17);
  }
}
.top-voice-list__name{
  padding-bottom: rem(10);
  font-size: rem(22);
  line-height: calc(33 / 22);
}
.top-voice-list__comment{
  text-align: left;
  font-weight: 500;
}

