@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.top-vision{
  padding-top: rem(46);
  padding-bottom: rem(34);
  text-align: center;
  @include pc {
    padding-top: rem(66);
    padding-bottom: rem(55);
  }
}
.top-vision__message{
  position: relative;
  padding-bottom: rem(96);
  @include pc {
    padding-bottom: rem(116);
  }
}
.top-vision__message::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  bottom: rem(-65);
  z-index: -1;//画像がテキストと重なっている為下げる
  // background: url(../../../images/semicircle-sp.png) center center /contain no-repeat;
  background: url(../images/semicircle-sp.png) center center /contain no-repeat;
  @include pc {
    bottom: rem(-60);
    // background: url(../../../images/semicircle.png) center center /contain no-repeat;
    background: url(../images/semicircle.png) center center /contain no-repeat;
  }
}
.top-vision__title{
  padding-bottom: rem(7);
  font-size: rem(25);
  line-height: calc( 40 / 25 );
  color: #CB0000;
  @include pc {
    font-size: rem(35);
    line-height: calc( 50 / 35 );
    padding-bottom: rem(17);
  }
}
.top-vision__text{
  text-align: left;
  font-weight: 500;
  @include pc {
    // font-size: rem(35);
    // line-height: calc( 50 / 35 );
    // padding-bottom: rem(17);
    text-align: center;
  }
}
.top-vision__step{
  position: relative;
}
.top-vision-step::before {/*arrow-left*/
  content: '';
  position: absolute;
  top: rem(-20);
  left: 50%;
  transform: translateX(-80%) rotate(-45deg);
  width: rem(22);
  height: rem(3);
  border-radius: rem(10);
  background-color: #CB0000;
}
.top-vision-step::after {/*arrow-right*/
  content: '';
  position: absolute;
  top: rem(-20);
  left: 50%;
  transform: translateX(-20%) rotate(45deg);
  width: rem(22);
  height: rem(3);
  border-radius: rem(10);
  background-color: #CB0000;
}
.top-vision-step__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(79.54);
  padding-top: rem(1);//微調整
  padding-bottom: rem(17);
  font-size: rem(20);
  line-height: calc(50 / 20);
  letter-spacing: 0.01em;//微調整
}
.top-vision-step__item:last-child {
  padding-bottom: 0;
}
.top-vision-step__item:before {
  position: absolute;
  content: '';
  width: rem(20);
  height: rem(20);
  left: 50%;
  top: 35%;/*padding分調整*/
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #CB0000;
}
.top-vision-step__item:last-child:before {
  top: 50%;/*padding分調整*/
}
.top-vision-step__item:after {
  position: absolute;
  content: '';
  width: rem(3);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(25);
  background-color: #CB0000;
}
.top-vision-step__en{
  text-align: right;
  color: #CB0000;
  @include pc {
    font-size: rem(25);
    line-height: calc(50 / 25);
  }
}
.top-vision-step__ja{
  text-align: left;
  font-weight: 500;
  @include pc {
    font-size: rem(23);
    line-height: calc(50 / 23);
  }

}