@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.voice{
  padding-top: rem(46);
  padding-bottom: rem(50);
  text-align: center;
  color: #FFFFFF;
  background-color:#CB0000;
  @include pc{
    padding-top: rem(44);
    padding-bottom: rem(80);
  }
}

/*****************
スライダー
*****************/
.splide__track{
  margin-top: rem(39);
}
#voice .splide__slide img {
  width: 100%;
  height: auto;
}
/*CSSでデフォルト矢印の見た目を完全に*/
.splide__arrow {
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  background: none;
}
.splide__arrow svg {
  display: none;
}

/* 左右矢印 */
.splide__arrows {
  position: absolute;
  top: 51%;
  left: rem(5);
  right: rem(5);
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: auto;
  z-index: 2;
  @include pc{
    top: 50%;
    left: rem(40);
    right: rem(40);
  }
}
.custom-arrow {
  width: rem(30);
  height: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.custom-arrow img {
  display: block;
  width: 100%;
  height: auto;
}
/*****************
card
*****************/
.voice-list__img{
  width: 100%;
  aspect-ratio: 335 / 200; // 比率を統一
  overflow: hidden;
  @include pc{
    aspect-ratio: 27 / 19;
  }
}
.voice-list__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-list__caption{
  margin-top: rem(27);
  @include pc{
    margin-top: rem(17);
  }
}
.voice-list__name{
  padding-bottom: rem(10);
  font-size: rem(22);
  line-height: calc(33 / 22);
}
.voice-list__text{
  text-align: left;
}

